<title>Welcome to the app</title>

<link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}" />

<body>
    <header class="container">
        <h1 class="h1">Account</h1>
    </header>

    <main class="container">
        <!-- Profile -->
        <h2 class="h2">Profile</h2>

        <form id="profileForm" class="form" onsubmit="updateProfile(event)">
            <img class="img" id="img" src="{{ url_for('static', path='img/user.png') }}" alt="Profile image">

            <label class="label" for="name">Full name</label>
            <input class="input" type="text" id="name" name="name" required />

            <label class="label" for="email">Email</label>
            <input class="input" type="email" id="email" name="email" required />

            <label class="label" for="picture">Picture</label>
            <input class="input" type="file" id="picture" name="picture" accept="image/*">

            <div class="success" style="display: none">
                Successfully updated
            </div>
            <div class="error" style="display: none">
                Failed. Please try again
            </div>

            <button class="btn-base w-full" type="submit">Submit</button>
        </form>

        <!-- Change password -->
        <h2 class="h2">Change password</h2>

        <form class="form" onsubmit="login(event)">
            <label class="label" for="password">Current</label>
            <input class="input" type="password" id="password" required />

            <label class="label" for="password">New</label>
            <input class="input" type="password" id="password" required />

            <label class="label" for="password">Confirm</label>
            <input class="input" type="password" id="password" required />

            <button class="btn-base w-full" type="submit">Submit</button>
        </form>

        <!-- Delete account -->
        <h2 class="h2">Delete account</h2>

        <form class="form" onsubmit="deleteAccount(event)">
            <p>
                Once you delete your account, there is no going back. Please be
                certain.
            </p>

            <button class="btn-base w-full" type="submit">
                Delete account
            </button>
        </form>
    </main>

    <footer class="container">
        <a href="/">Home</a>
    </footer>
</body>

<script src="{{ url_for('static', path='js/templates/account.js') }}"></script>