<title>Welcome to the app</title>

<link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">

<body>
    <main class="container">
        <h1 class="h1" id="h1">Welcome</h1>
    </main>

    <footer class="container">
        <ul>
            <li>
                <a href="/login" onclick="logout()">Log out</a>
            </li>
            
            <li>
                <a href="/account">Account</a>
            </li>
        </ul>
    </footer>
</body>

<script>
    (async function () {

        const token = window.localStorage.getItem('token');

        const options = {
            method: "GET",
            headers: new Headers({
                'Authorization': `Bearer ${token}`, 
                'Content-type': 'application/json',
            }), 
        };

        const res = await fetch('/me', options);

        if(res.status === 200) {
            const json = await res.json();
            const h1Element = document.querySelector('#h1');

            h1Element.textContent = `Welcome, ${json.fname}`;
        } else {
            window.location.href = '/login';
        }
        
    })();

    function logout() {
        window.localStorage.removeItem('token');
    }
</script>